[Unit]
Description="HashiCorp Consul Template"
Documentation=https://github.com/hashicorp/consul-template
Requires=network-online.target
After=network-online.target vault.service
ConditionFileNotEmpty=/etc/consul-template/config.hcl

[Service]
Type=notify
User=root
Group=root
EnvironmentFile=/etc/default/consul-template
ExecStart=/usr/local/bin/consul-template -config=/etc/consul-template/config.hcl $OPTIONS
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGINT
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
