[Unit]
Description=Vault Agent

[Service]
TimeoutStartSec=0
Restart=always
WatchdogSec=86400
RemainAfterExit=yes
RestartSec=5
SuccessExitStatus=0
ExecStart=/usr/local/bin/vault agent -config=/etc/vault/agent.hcl

[Install]
WantedBy=multi-user.target
